@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Ubuntu+Condensed&family=Ubuntu+Mono&family=Ubuntu:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #f2f2f2;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 600px;
    height: 60px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    background: #ffffff;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}
nav label{
    height: 100%;
    width: 100%;
    margin: 0 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9d00ff;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 1;
}
.slider{
    background: #9d00ff;
    height: 100%;
    width: 20%;
    margin: 0 3px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
nav label:hover{
    background: #9d00ff2a;
    color: #ffffff;
}
nav label i{
    margin-right: 8px;
}
#home:checked ~ nav label.home,
#blog:checked ~ nav label.blog,
#code:checked ~ nav label.code,
#help:checked ~ nav label.help,
#about:checked ~ nav label.about{
    color: #ffffff;
}
#blog:checked ~ nav .slider{
    left: 20%;
}
#code:checked ~ nav .slider{
    left: 40%;
}
#help:checked ~ nav .slider{
    left: 60%;
}
#about:checked ~ nav .slider{
    left: 80%;
}






